<% layout('layouts/boilerplate.ejs') %>
<h1>タスク詳細</h1>
<h2><%= task.title %></h2>
<p><%= task.description %></p>
<p><%= task.status %></p>
<a href="/tasks/<%= task._id %>/edit">編集</a>
<form action="/tasks/<%= task._id %>?_method=DELETE" method="post">
    <button type="submit">削除</button>
</form>
