<!-- 1つのタスク -->
<div class="accordion-item">
    <h2 class="accordion-header" id="heading<%= task._id %>">
        <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%= task._id %>"
            aria-expanded="false"
            aria-controls="collapse<%= task._id %>"
        >
            <div class="d-flex w-100 justify-content-between">
                <div class="d-flex flex-column">
                    <h6><%= task.title %></h6>
                </div>
                <small class="text-muted"><%= task.status %></small>
            </div>
        </button>
    </h2>
    <div
        id="collapse<%= task._id %>"
        class="accordion-collapse collapse"
        aria-labelledby="heading<%= task._id %>"
    >
        <div class="accordion-body">
            <p><%= task.description %></p>
            <a href="/tasks/<%= task._id %>/edit" class="btn btn-primary">
                編集
            </a>
            <form
                action="/tasks/<%= task._id %>?_method=DELETE"
                method="POST"
                class="d-inline"
            >
                <button type="submit" class="btn btn-danger">削除</button>
            </form>
        </div>
    </div>
</div>
